@model NavLinksViewModel

@if (Model.Links?.Any() ?? false)
{
    <ul class="@Model.UlClass">
        @foreach(var link in Model.Links)
        {
            <li><a href="@link.Slug" class="@Model.LiClass">@link.Text</a></li>
        }
    </ul>
}