@page "/{slug?}"
@model IndexModel
@{
    ViewData["Title"] = Model.Slug ?? "Home";
}

<div>
    
    @* @if (Model.HomePage?.FeaturedImage != null) *@
    @* { *@
    @*     var image = Model.HomePage.FeaturedImage; *@
    @*     <img src="@image.File.Url" alt="@image.Description"/> *@
    @* } *@
    @Model.HomePage?.HtmlContent
    
</div>