@using PersonalSite.Web.Pages.Shared.Components.NavLinks
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - PersonalSite.Web</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/obsidian.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/csharp.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
</head>

<body class="dark-theme font-sans quicksand">

    <div class="p-6 sm:p-10 md:p-16 flex flex-wrap">

        <div class="w-full md:w-1/3 md:pr-32 order-3 md:order-1">
            <div class="max-w-2xl md:float-right md:text-right leading-loose tracking-tight md:sticky md:top-0 ">
                <p class="font-bold my-4 md:my-12">Things To See</p>
                <vc:nav-links link-type="@NavLinksType.Nav" ul-class="flex flex-wrap justify-between flex-col" li-class="nav"></vc:nav-links>
            </div>
        </div>
        <div class="w-full md:w-2/3 order-1 md:order-2">
            <div class="content max-w-2xl leading-loose tracking-tight">
                @RenderBody()
            </div>
        </div>
        <vc:footer></vc:footer>
    </div>

    <!-- Pin to top right corner -->
    <div class="absolute top-0 right-0 h-12 w-18 p-4">
        <button class="js-change-theme focus:outline-none">☀️</button>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js" defer></script>
    <script src="~/js/site.js" asp-append-version="true" defer></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        //Toggle mode
        const toggle = document.querySelector('.js-change-theme');
        const body = document.querySelector('body');

        toggle.addEventListener('click', () => {
            if (body.classList.contains('light-theme')) {
                toggle.innerHTML = "☀️";
                body.classList.remove('light-theme');
                body.classList.add('dark-theme');
            } else {
                toggle.innerHTML = "🌙";
                body.classList.remove('dark-theme');
                body.classList.add('light-theme');

            }
        });
        hljs.initHighlightingOnLoad();
        addEventListener('load', function() {
          let blocks = document.querySelectorAll('pre code.hljs');
          Array.prototype.forEach.call(blocks, function(block) {
            let language = block.result.language;
            block.insertAdjacentHTML("afterbegin",`<label>${language}</label>`)
          });
        })
    </script>

</body>

</html>