@model PersonalSite.ContentModel.Resume
<section class="experience pb-2 pb-4 mt-4 border-b-4 border-gray-300 first:mt-0">
    <!-- To keep in the same column ------------------------------------------------------------------------->
    <section class="break-inside-avoid">
        <h2 class="mb-2 text-xl font-black tracking-widest text-gray-800 print:font-normal">
            EXPERIENCE
        </h2>
        @foreach (var (exp, ix) in Model.Experience.Select((s, i) => (s, i)))
        {
            var first = ix == 0;
            var last = ix == Model.Experience.Count - 1;
            <section class="mb-2 @(last ? "border-b-0" : "border-b-2") border-gray-300 break-inside-avoid">
                <header>
                    <h3 class="font-semibold text-gray-800 text-md leading-snugish">
                        @exp.Heading
                    </h3>
                    <p class="text-sm leading-normal text-gray-500">
                        @exp.SubHeading
                    </p>
                </header>
                @exp.HtmlContent
            </section>
        }
    </section>
</section>