@model PersonalSite.ContentModel.Resume
@if (Model.Summary.Any())
{
  <!--Summary ---------------------------------------------------------------------------------------------------------->
  <section class="summary pb-2 pb-4 mt-0 border-b-4 border-gray-300 first:mt-0">
      <!-- To keep in the same column -->
      <section class="break-inside-avoid">
          <h2
              class="mb-2 text-xl font-bold tracking-widest text-gray-700 print:font-normal">
              SUMMARY
          </h2>

          <section class="mb-2 break-inside-avoid">
              @foreach(var summary in Model.Summary)
              {
                  @summary.HtmlContent
              }
          </section>
      </section>
  </section>
}