@page
@using PersonalSite.ContentModel
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (Model.HomePage?.FeaturedImage != null)
    {
        var image = Model.HomePage.FeaturedImage;
        <img src="@image.File.Url" alt="@image.Description"/>
    }
    <div>
        @Model.HomePage?.HtmlContent
    </div>
</div>