@page "/home"
@using PersonalSite.ContentModel
@model IndexModel
@{
    Layout = null;
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    
    <a class="nav-link text-dark" asp-area="" asp-page="/Resume">Resume</a>
    @* @if (Model.HomePage?.FeaturedImage != null) *@
    @* { *@
    @*     var image = Model.HomePage.FeaturedImage; *@
    @*     <img src="@image.File.Url" alt="@image.Description"/> *@
    @* } *@
    <div>
        @Model.HomePage?.HtmlContent
    </div>
</div>